@font-face {
    font-family: "Tropiline";
    src: url("/fonts/tropiline/Tropiline-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Tropiline";
    font-weight: bold;
    src: url("/fonts/tropiline/Tropiline-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Tropiline";
    font-weight: 900;
    src: url("/fonts/tropiline/Tropiline-Black.ttf") format("truetype");
}

@font-face {
    font-family: "Baloo";
    src: url("/fonts/baloo/Baloo2-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Baloo";
    font-weight: bold;
    src: url("/fonts/baloo/Baloo2-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Claire Hand";
    src: url("/fonts/claireHand/claireHandRegular.otf") format("opentype");
}