* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
}

html {
    // Set 1rem to 10px
    font-size: 62.5%;
}

body {
    // base size to 24px
    font-family: $titleFont;
    font-weight: bold;
    font-size: $fontMsize;

    max-height: 100vh;
    overflow-y: hidden;
}

#app {
    text-align: center;
}

.steps {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;

    padding: $steps-padding;

    overflow: hidden;
    .step {
        position: relative;
        width: 100%;
        height: 100%;

        &.centered {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }
}

.btn,
button {
    background: none;
    border: none;
    padding: 0;

    cursor: pointer;
}

#map {
    .leaflet-popup-content-wrapper {
        left: 90px;
        position: relative;
    }
    .leaflet-popup-tip-container {
        transform: rotateZ(90deg);
        left: 80px;
        top: 20px;
    }
    .leaflet-popup-content {
        .gentile {
            font-family: "Baloo";
            font-size: 20px;
            font-weight: bold;
        }
        .username {
            font-family: "Shadows Into Light";
            font-size: 20px;
        }
    }
}
