$text-dark: #232222;
$light-text: #FAF5ED;
$link-text: #CB0B05;

$color1: #CAAFF9;
$color2: #F3CAC7;
$color3: #F9CC4E;
$color3-light: #FCEEC7;
$color4: #E5E2D5;
$color5: #9DDEFF;
$color6: #73D3CE;
$color7: #FAF5ED;
$color8: #F3C1C7;
$color9: #B5EB9E;
$color10: #FF7360;

$right: #79D153;
$wait: #F9CC4E;
$wrong: #2C2C2C;

$titleFont: 'Tropiline';
$btnFont: 'Baloo';
$cursiveFont: 'Claire hand';

$fontSsize: 2rem;
$fontMsize: 2.4rem;
$fontLsize: 3rem;

$border-radius: 10px;
$steps-padding: 32px;